@import url(https://fonts.googleapis.com/css?family=ABeeZee|Righteous);
body {
    font-family: 'ABeeZee', sans-serif;
    
    -webkit-animation:fadein 0.25s; animation:fadein 0.25s }
    @-webkit-keyframes fadein { from {opacity:0} to {opacity:1} }
    @keyframes fadein { from {opacity:0} to {opacity:1}
    
}
#id1{
    width:800px;
    background-color:#EDF6FA; 
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    text-align: center;
    padding-bottom: 20px;
}
#id2{
    border:1; width:80%;  
    border-color:#888888; 
    box-align:center;
    margin-left: 10%;
    margin-right: 10%;
}
h2{
color:#0090FF;
}

#id2 tr{
    height: 30px;
}
#id3{
    background-color: #0090FF;
    color:white;
}

.teamname  {
    font-size: 30px;

    color: #0090FF;
    font-family: 'Righteous', cursive;
}
.coursename {
    color:#222;
}

.class2{
    font-size:14px;    
    font-weight: 500;
    text-align: center;
    background-color: #E8F0E5;
    width: 50%;
    margin: 0 auto;
}

.class2.memberprofile {
    background-color:transparent;
}
.back {
    font-weight: bold;
    font-size:13px;
    text-decoration: none;
    color:#0090FF;
    border-radius: 25px;
  background: #E9F6FD;
  padding: 12px;
}
.back_notice {
    color: #ff0000;
}
.back:hover { 
    background-color: #E9F3F9;

    border: #0060CD;
    border-width: thin;
    border: 1px solid #A4CFF2;
  }
.memberprofile hr{
    border-top: 1px dashed #44444444;
    margin: 20px;
    width:20%; margin-left:40% !important; margin-right:40% !important;
  }

.membername {
    font-weight: bold;
    font-size:13px;
    text-decoration: none;
    color:#2769C6
}
.imgmember {
    height:400;
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.25);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .25);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .25);
    transition: transform .35s;
   z-index: 99;
}
.imgmember:hover{
    transform: scale(1.25) translateY(25%);
    -moz-box-shadow: 1px 2px 30px rgba(44, 44, 44,0.2);
    -webkit-box-shadow: 1px 2px 30px rgba(44, 44, 44, .2);
    box-shadow: 1px 2px 30px rgba(44, 44, 44, .2);
    z-index: 99;
    
}

ul  {
    padding-left:0;   
 
   }
   ul li  {
    list-style-type: none;
        position: relative;
        padding-top: 11px;
        font-weight: 540;
        color: #444;
    
   }
   